h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.content {
    width: 40%;
}

.content input {
    width: 38%;
}

.numbersContainer {
    width: 40%;
    display: grid;
}

.container2 {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;
}