body, .content {
    background: black;
}

.content {
    margin-top:50px;
    width: 40%;
}

.content input {
    width: 298px;
    height: 60px;
    font-size: 40px;
    border: 1px solid black;
    text-align: right;
    overflow: scroll;
}

.numbersContainer {
    width: 300px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.numbersContainer button {
    height: 90px;
    font-size: 24px;
    background: #b7b7b7;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}

.numbersContainer button:hover {
    background: #8c8c8c;
}

.container2 {
    width: 300px;
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}

.container2 button {
    height: 70px;
    background: #ff9c00;
    font-size: 21px;
    flex: 1;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container2 button:hover {
    background: #c47800;
}

.smallFont {
    font-size: 10px;
}